<!DOCTYPE html>
<html>
<head>
    <title>Vue @ BPROF</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body { padding: 30px; }
    </style>
</head>
<body>
<div id="app">
    <todo-item
        v-for="todo in todos"
        v-bind:text="todo.text"
        v-bind:type="todo.type"
        v-bind:tags="todo.tags"
        v-bind:key="todo.text"
    ></todo-item>
    <hr>
    <input v-model="newTodo.text" placeholder="Todo text">
    <select v-model="newTodo.type">
        <option disabled>Please select one</option>
        <option v-for="type in todoTypes" :value="type.value">
            {{ type.text }}
        </option>
    </select>
    <button class="btn btn-primary" v-on:click="addNewTodo">Add todo with this value</button>
</div>

<script>

    Vue.component('todo-item', {

        props: ['text', 'type', 'tags'],

        template: `

            <div>
                <div class="alert" v-bind:class="type" role="alert">
                  {{ text }}
                  <div>
                    <template v-for="tag in tags">
                        <span class="badge badge-secondary mr-1">
                            {{ tag }}
                        </span>
                    </template>
                  </div>
                </div>
            </div>

        `
    })

    var app = new Vue({
        el: '#app',
        data: {
            newTodo: { text: "", type: "Please select one"}, // hax
            todoTypes: [
                { text: "primary", value: "alert-primary" },
                { text: "danger", value: "alert-danger" },
                { text: "warning", value: "alert-warning" },
                { text: "success", value: "alert-success" }
            ],
            todos: [
                { text: "hello bprof", type: "alert-primary", tags: ["new","urgent"] },
                { text: "morning vue", type: "alert-danger", tags: ["urgent"] },
                { text: "lorem ipsum", type: "alert-warning", tags: ["new"] },
                { text: "dolor sit", type: "alert-success", tags: ["personal"] },
                { text: "amet amenofus", type: "alert-success", tags: ["work","new","pending"] },
            ]
        },
        methods: {
            addNewTodo: function () {

                this.todos.push(this.newTodo) // TODO add error handling if not correctly selected todo type is wanted to be added
                this.newTodo = { text: "", type: "Please select one"}

            }
        }
    })
</script>
</body>
</html>
