<!DOCTYPE html>
<html>
<head>
    <title>Vue @ BPROF</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        body { padding: 30px; }
    </style>
</head>
<body>
<div id="app">
    <template v-for="todo in todos">
        <div v-if="todo.type === 'primary'" class="alert alert-primary" role="alert">
            {{ todo.text }}
            <div>
                <template v-for="tag in todo.tags">
                    <span class="badge badge-secondary mr-1">
                        {{ tag }}
                    </span>
                </template>
            </div>
        </div>
        <div v-if="todo.type === 'success'" class="alert alert-success" role="alert">
            {{ todo.text }}
            <div>
                <template v-for="tag in todo.tags">
                    <span class="badge badge-secondary mr-1">
                        {{ tag }}
                    </span>
                </template>
            </div>
        </div>
        <div v-if="todo.type === 'danger'" class="alert alert-danger" role="alert">
            {{ todo.text }}
            <div>
                <template v-for="tag in todo.tags">
                    <span class="badge badge-secondary mr-1">
                        {{ tag }}
                    </span>
                </template>
            </div>
        </div>
        <div v-if="todo.type === 'warning'" class="alert alert-warning" role="alert">
            {{ todo.text }}
            <div>
                <template v-for="tag in todo.tags">
                    <span class="badge badge-secondary mr-1">
                        {{ tag }}
                    </span>
                </template>
            </div>
        </div>
    </template>
    <hr>
    <button class="btn btn-primary" v-on:click="addRandomTodo">Add random todo</button>
    <hr>
    <input v-model="newTodoText" placeholder="Todo text">
    <button class="btn btn-primary" v-on:click="addNewTodo">Add todo with this value</button>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            newTodoText: "",
            todos: [
                { text: "hello bprof", type: "primary", tags: ["new","urgent"] },
                { text: "morning vue", type: "danger", tags: ["urgent"] },
                { text: "lorem ipsum", type: "warning", tags: ["new"] },
                { text: "dolor sit", type: "success", tags: ["personal"] },
                { text: "amet amenofus", type: "success", tags: ["work","new","pending"] },
            ]
        },
        methods: {
            addRandomTodo: function () {
                this.todos.push({
                    text: "RANDOM",
                    type: "primary",
                    tags: []
                })
            },
            addNewTodo: function () {
                this.todos.push({ text: this.newTodoText })
                this.newTodoText = "" // reset value back to empty string
            }
        }
    })
</script>
</body>
</html>
